@import '../../node_modules/normalize.scss/normalize';
html {
  background: white;
}

.invaders {

    .game {
        width: 30rem;
        margin: 0 auto;
    }

    .invader {
        display: inline-block;
        width: 4rem;
        line-height: 1rem;
        text-align: center;
    }
}
